/*
 * BSD 3-Clause License
 *
 * Copyright (c) 2023, Pierrick MARIE contact at pierrickmarie.info
 * All rights reserved.
 */

/**
 * === POSITION OF THE GALLERY ===
 */
 .positionOfGallery {
	/* position: absolute; */
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
}

/**
 * === SIZE OF THE GALLERY ===
 * 
 * For full screen mode ==> width: 98%; height: 95%;
 * Sub elements of the gallery resize automatically.
 */
.sizeOfGallery {
	width: 58%;
	height: 55%;
}

/**
 * === Decorations of the gallery ===
 * 
 * Change them according to the design of your web site
 */
.decorationGallery {
	background-color: #0000001f;
	border-radius: 20px;
}

/**
 * === BODY === 
 */
body, html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/utils/background.jpg");
	background-repeat: repeat;
	background-size: cover;
}

/**
 * === ALL OTHER ELEMENTS OF THE GALLERY ===
 * ===    MODIFY THEM IS UP TO YOU ;)    ===
 */


/** 
 * gallery 
 */
.simple-gallery {
	padding: 1%;

	text-align: center;
}

/**
 * title
 */
.simple-gallery-title {
	position: relative;

	margin: 0;
	margin-bottom: 2vh;
}
@media screen and (max-width: 1999px) {
	.simple-gallery-title {
		font-size: 1.5em;
	}	
}
@media screen and (min-width: 2000px) {
	.simple-gallery-title {
		font-size: 3em;
	}	
}

/** 
 * thumbnails
 */
.simple-gallery-thumbnails {
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	/* justify-content: space-around; */
	gap: 10px;
	align-items: center;

	width: 96%; 

	padding-bottom: 1%;

	/* overflow-y: hidden; /* Allow horizontal scroll if there are more images than screen width available */
	overflow-x: auto;
}

/**
 * thumbnails img 
 */
.simple-gallery-thumbnails img {		/* Thumbnails images, style and size */
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #444343;

	margin-top: 2vh;
	margin-bottom: 1vh;
}
@media screen and (max-width: 1999px) {
	.simple-gallery-thumbnails img {
		width: 100px;
	}	
}
@media screen and (min-width: 2000px) {
	.simple-gallery-thumbnails img {
		width: 200px;
	}	
}

/** 
 * thumbnails img:hover
 */
.simple-gallery-thumbnails img:hover {		/* Add a shadow around thumbnails */
	box-shadow: 5px 5px 5px #444343;
}

/** 
 * images img
 */
.simple-gallery > img {
	display: none;

	cursor: pointer;
}

/**
 * Display current image in full screen 
 * ==> remove .defaultView before !
 */
.fullScreenView {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);

	width: auto;
	height: 100vh;

	max-width: 100vw;
	max-height: 100vh;

	box-shadow: unset;
	border-width: 0;
	border-radius: 0;
}

/**
 * Display image in default view 
 * ==> remove .fullScreenView before !
 */
.defaultView {
	padding: 1%;

	border-radius: 20px;
   	border-style: solid;
   	border-width: 1px;
   	border-color: #444343;

	box-shadow: 10px 10px 10px #444343;

	background-color: #ffffff90;

	width: auto;
	height: auto;
	max-height: 50vh;
	max-width: 75%;
}

/**
 * arrows
 */
.simple-gallery-arrows {	/* The arrows to change current image (left and right) */
	position: relative;
	
	width: 8%;
	height: auto;

	top: 10vh;

	cursor: pointer;

	z-index: 1000;
}

/**
 * left arrow
 */
.simple-gallery-left-arrow {	
	float: left;
}

/**
 * right arrow
 */
.simple-gallery-right-arrow {	
	float: right;
}

/**
 * left arrow in full sceen view
 */
 .simple-gallery-left-arrow-full-screen {	
	position: fixed;

	left: 50px;
	top: 40vh;
}

/**
 * right arrow in full sceen view
 */
.simple-gallery-right-arrow-full-screen {	
	position: fixed;

	right: 50px;
	top: 40vh;
}

.cursorDefault {
	cursor: default;
}

.cursorPointer { /* clickable cursor */
	cursor: pointer;
}

.shadow {
	box-shadow: 5px 5px 5px #444343;
}

.backgroundBlack {	/* Background in black for full screen view */
	background-color: black;
	background-image: url("");
}